.bottleList{
    text-align: center;
    width: 50vw;
    height: 70vh;
    /* height:auto; */
    font-family: "Optima", sans-serif;
    font-size: 1.2vw;

}

/* .bottle{
    margin-top: 10vh;
    height: 40vh;
} */

.bottleListElem{
    height:25vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
    overflow-y: scroll;
}

#bottleDisplay {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 45%;
    float:left;
    height:60vh;
    overflow-y: scroll;
    margin-top: 3.5vh;


}
#bottleDisplay img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#bottleDisplay img:hover {
    cursor: pointer;

}

#bottleDisplay li {
    width: 196px;
    margin: auto;
    position: relative;

    
}