.throw-button {
    text-align: center;
    background-color:  #333;
    border: none;
    color:white;
    font-family: "Optima", sans-serif;
    font-size: 1.3vw;
    display: inline-flex;
    padding: 2% 4%;
    margin-bottom: 2vh;
    margin-right: 2vh;
    transition-duration: 0.4s;
    border-radius: 15px;
    opacity: 0.95;
    position: relative;
}

.throw-button:hover {
    background-color:#56799d; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#sendBottleForm {
    width: 50vw;
    height: 70vh;
}

#sendBottleTextField {
    font-family: "Optima", sans-serif;
    font-size: 1.3vw;
    margin: 2vh;
    width: 40vw;
    max-height: 45vh;
    height: auto;
    top:3%;
    position: relative;
    resize:none;
}

.sendBottleModalOuter {
    position: relative;
    margin: auto;
    top: 100%;
    left: -30%;
    min-width: 1200px;
}
