.thread {
    text-align: left;
    min-height: 60vh;
    min-width: 50vw;
    overflow-y: scroll;
    width: auto;
    height: auto;
    font-size: 1.2vw;
    font-family: "Optima", sans-serif;
    
}

.threadInner {
    min-height: 60vh;
    min-width: 50vw;
    overflow-y: scroll;
    margin-top: 5vh;
    margin-left: 5vw;
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    padding: 5px;
    overflow-y: scroll;

}

.threadMainInfo {
    margin-bottom: -10px;
}

.threadMainInfo img {
    display:inline-block;
    position: relative;
    top: 15px;
}



.threadUserName {
    display:inline-block;
    font-weight: bold;
    margin-left: 10px;
}

.threadMainContent {
    text-align: left;

}

.threadReplies {
    margin-top: 3vh;
    text-align: left;
    list-style-type: none;
    padding: 0;
    width: 50vw;
    height: 40vh;
    overflow-y: scroll;


}

.threadNav{
    width: 50vw;
}

.threadReplies li {
    margin-top: 10px;  
}

.threadReplies li div b {
    margin-left: 10px;
}

.threadReplies li img {
    display: inline-block;
}


.threadReplies li p {
    display: inline-block;
    margin-left: 10px;
}

/* .reply{
    resize:none;
    max-width: 100px;


} */