.main-body {
    height: 130%;
    position: relative;
    text-align: center;
  }
  
.cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
  