#title {
    text-align: center;
    font-family: "Optima", sans-serif;
    margin: 0;
    color: rgba(42, 39, 48, 0.86);
    background-color: rgba(86, 121, 157, 0.6);
    border-radius: 10px;
}

#chat {

    min-height: 80vh;
    text-align: center;
    background-color: #2a2730;
    border: 5px solid rgba(86, 121, 157, 0.6);
    border-radius: 10px;

}

#chat-window {
    height: 70vh;
}

.notificationText {
    color: #fefefe;
}

#send-message-text{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96vw;
    height: 8vh;
    border: 2px solid rgba(86, 121, 157, 0.6);
    background-color: transparent;
    padding-left: 10px;
    color: white;
    font-size: 15px;
}

#leave-room-btn {
    text-align: center;
    background-color:  #333;
    border: none;
    color:white;
    font-family: "Gill Sans", sans-serif;
    font-size: 2vw;
    transition-duration: 0.4s;
    border-radius: 15px;
    opacity: 0.75;
    padding: 5px;
}

#leave-room-btn:hover {
    background-color:#012b6e; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#send-message-btn {
    text-align: center;
    background-color:  #333;
    border: none;
    color:white;
    font-family: "Gill Sans", sans-serif;
    font-size: 2vw;
    transition-duration: 0.4s;
    border-radius: 15px;
    opacity: 0.75;
    padding: 5px;
}

#send-message-btn:hover {
    background-color:#012b6e; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.messageContent {
    width: 400px;
    height: 60px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background-color: #0091ff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.pairMessageContent {
    width: 400px;
    height: 60px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    background-color: #17a964;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 70vw;
}

