.app {
    height: 100vh;
    width: 80vw;
    overflow: auto;
    background-size: cover;
    position: relative;
}

.select {
    margin-bottom: 5vh;
}

.summary-title {
    background-color: rgba(86, 121, 157, 0.6);
    font-size: 2vw;
    font-family: "Optima", sans-serif;
    color: black;

}

.suggest-title {
    font-size: 1vw;
    font-family: "Optima", sans-serif;

}

.pie-chart {
    margin-left: 10vw;
    width: 20vw;
}

.weatherTag {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.pie-area {
    display: flex;
    margin-right: 12vw;
}
