.main-body {
    height: 130%;
    position: relative;
    text-align: center;
}
  
  .cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  .date-picker {
    z-index: 100;
    padding-bottom: 10vh;
  }
  
  .calendar{
   margin-top: 10vh;
    position: relative;
    left: 35%;
  }
  
  .search-button{
    text-align: center;
      background-color:  #333;
      border: none;
      color:white;
      font-size: 1vw;
      font-family: "Optima", sans-serif;
      display: inline-flex;
      padding: 1.5%;
      margin: 2% 2%;
      transition-duration: 0.4s;
      border-radius: 15px;
  }
  
  .search-button:hover{
    background-color:#003568; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }