.title {
    font-family: "Helvetica", "Arial", sans-serif;
    /*font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;*/
}

.greet {
    width: 60%;
    height: 60%;
    position: relative;
    left: -20%;
    margin-top: 3%;
}

.container {
    position: relative;
}

.checkbox-img {
    width: 20%;
    height: 20%;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-container {
    width: 33%;
    height: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.item-container p {
    width: 20%;
    margin: 0;
}
