.title {
    font-family: "Helvetica", "Arial", sans-serif;
    /*font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;*/
}

.greet {
    width: 60%;
    height: 60%;
    position: relative;
    left: -20%;
    margin-top: 3%;
}

.container {
    position: relative;
}

.checkbox-img {
    width: 20%;
    height: 20%;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-container {
    width: 33%;
    height: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.item-container p {
    width: 20%;
    margin: 0;
}

.diary {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url("https://i.postimg.cc/mrnNNqZv/Diary-Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.diary-input {
    position: absolute;
    display: flex;
    left: 55%;
    top: 15%;
    width: 35%;
}

.img-container {
    position: absolute;
    height: 23vw;
    width: 26vw;
    border: 2px dashed black;
}

.pic-upload {
    position: absolute;
    display: flex;
    left: 20%;
    top: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-display {
    position: relative;
    height: 23vw;
    width: 26vw;
}
