#treeHoleOuter {
    min-height: 80vh;
    min-width: 70vw;
    overflow: auto;
    margin: auto;
    text-align: left;
    
}

.treeHoleInput{
    overflow-y: scroll;
    resize: none;
    width: 35vw;
    height: 35vh;
    font-size: 1.2vw;
    font-family: "Optima", sans-serif;
}


#treeHoleImageFormWrapper {
    position: relative;
}

#treeHoleImage {
    width: 45%;
    
}

#treeHoleForm {
    width: 50%;
    height: 100%;
    float:right;
    
}

#treeHoleForm input {
    width: 98%;
    height: 10vw;
    
}

#treeHoleForm button {
    text-align: center;
    background-color:  #333;
    border: none;
    color:white;
    font-family:  "Optima", sans-serif;
    font-size:1.2vw;
    display: inline-flex;
    padding: 2% 4%;
    margin-bottom: 2vh;
    transition-duration: 0.4s;
    border-radius: 15px;
    opacity: 0.75;
    position: relative;
}

#treeHoleForm button:hover{
    background-color:#56799d; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

@media only screen and (max-width: 1300px) {
  #treeHoleForm input {
    width: 96%;
    height: 10vw;
    
}

}
    
    
@media only screen and (max-width: 800px) {
  #treeHoleForm input {
        height: 70px;
    
   }

}

.threadList {
    list-style-type: none;
    min-width: 400px;
    
}

.threadList li {
    margin-bottom: 20px;
    
}