#treeHoleOuter {
    min-height: 400px;
    min-width: 400px;
    max-width: 50%;
    margin: auto;
    text-align: left;
    
}


#treeHoleImageFormWrapper {
    position: relative;
}

#treeHoleImage {
    width: 45%;
    
}

#treeHoleForm {
    width: 50%;
    height: 100%;
    float:right;
    
}

#treeHoleForm input {
    width: 98%;
    height: 9vw;
    
}

#treeHoleForm button {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100px;
   height: 30px;
}


#treeHoleForm button {
    /*margin-left: 70px;*/
    /*width: 100px;*/
    /*height: 30px;*/
    text-align: center;
    background-color:  #333;
    border: none;
    color:white;
    font-family: "Gill Sans", sans-serif;
    font-size: 1.5vw;
    transition-duration: 0.4s;
    border-radius: 15px;
    opacity: 0.75;
}

#treeHoleForm button:hover {
    background-color:#012b6e; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@media only screen and (max-width: 1300px) {
  #treeHoleForm input {
    width: 96%;
    height: 8vw;
    
}

}
    
    
@media only screen and (max-width: 800px) {
  #treeHoleForm input {
        height: 70px;
    
   }

}

.threadList {
    list-style-type: none;
    min-width: 400px;
    
}

.threadList li {
    margin-bottom: 20px;
    
}